.clothes-error {
   display: none; 
}

.block-clothes--button-box {
   display: flex;
   justify-content: space-between;
   margin-top: 37px;
}

.imIce,
.imHot {
   width: 48%;
   border-radius: 20px;
   padding: 19px 18px;
   background-color: rgba(33, 31, 31, 0.4);
   font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
   color: #FFF;
   cursor: pointer;
   border: none;
}

.block-clothes--header {
   h2 {
      margin-top: 45px;
      text-align: center;
   }
}