 /*-----   Swiper-desktop -----*/
.sw-1 {
    /*display:*/
    margin-top: 5px;
    
  display:block;
  width: 80%;
    }
    .mySwiper {
        width: 100%;
        height: 250px;
    }
    
.swiper {
   
    height: 100%;
    background-color: rgba(216, 207, 207, 0.672);
    border-radius: 20px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px 15px 20px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out;
  }

  .swiper-slide:hover img {
    transform: scale(1.03);
  }


  .swiper-pagination{
    margin-bottom: 20px;
  }
  
  .swiper-pagination-bullet {
    --swiper-theme-color: hsl(340, 90%, 44%);
    border-radius: 0px;
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,30px));
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);
    
  }
  
  
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 5);
  }
  


    /*-----   Swiper-mobile -----*/
    .sw-2 {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-mobile {
       margin-bottom: 20px;
    }
    .mySwiper-mobile {
        width: 300px;
        height: 360px;
    }
    .swiper-wrapper-mobile {
        display: flex;
        position: absolute;
        margin-bottom: 120%;
        
    }
    .swiper-slide-mobile{
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid #fff;
       
       justify-content: flex-start;
       align-items: center;
       
    }
    .swiper-slide-mobile>img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
      }
    
   
   

