html {
    background-color: #fff;
}
.swiper {
    width: 400px;
    height: 400px;
    display: flex;
    
 
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
        background-color: rgba(115, 189, 104, 0.519);
    }
}

@media screen and (min-width: 1600px) {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        
      }
}