$block-radius: 20px;
$block-weather-width: 95%;
$block-background-color: rgba(255, 255, 255, 0.581);
$block-background-color-main: rgba(33, 31, 31, 0.4);
$block-title-fsize:clamp(16px, 0.2rem + 2.5vw, 24px);
$block-body-fsize:clamp(14px, 0.2rem + 2.5vw, 20px);
$addInfo-body-fsize:clamp(12px, 0.1rem + 2.5vw, 16px);
$addInfo-title-fsize:clamp(14px, 0.1rem + 2.5vw, 18px);


.container_weather__input {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*инпут введения города*/
#city {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #333;
    background-color: #eeeeeec1;
    width: 100%;
    max-height: 3rem;
    min-height: 2.5rem;
    border-radius: 10px;
    border: none;
    padding-left: 25px;
}

#city:focus {
    border: none;
}

/*контейнер с основной инфой: город, температура, мин и макс температура*/
.container_weather__main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(0.7rem, 0.2rem + 2.5vw, 1rem);
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    background-color:$block-background-color-main;
    color: #fff;
    border-radius: $block-radius;
    width: 100%;
    min-height: 45vh;
    max-height: 55vh;
}



/*местоположение*/
#location {
    justify-self: center;
    font-size: $block-title-fsize;
}

/*температура*/
#temperature {
    font-size: $block-title-fsize;
    justify-self: center;
}

/*иконка в соотвествии с описанием погоды, приходит от api*/
#icon {
    width: clamp(3rem, 1.5rem + 10vw, 5rem);
    justify-self: center;
    margin: 0.3rem 0 0.3rem 0;
}

/*описание погодных условий*/
#description {
    font-size: $block-body-fsize;
    margin-bottom: 1rem;
    text-align: center;
}

/*описание погодных условий первая буква*/
#description::first-letter {
    text-transform: uppercase;
}

/*контейнер для макс и мин температур*/
.container_weather__main-info_min-max {
    display: flex;
    gap: clamp(1rem, 0.5rem + 2.5vw, 3rem);
    font-size: $block-body-fsize;
    text-align: center;
    
}

/*контейнер дополнительной информации*/
.container_weather__add-info {
    display: flex;
    flex: 100%;
    margin-top: 0.5rem;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    max-height: 35vh;
   
    
}

/*контейнер доп информации ощущается как*/
.container_weather__add-info__feels_like {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
    background-color: rgba(33, 31, 31, 0.4);
    color: white;
    
    border-radius: $block-radius;
    flex: 55%;
}

/*температура ощущается как*/
#temperature_feels_like {
    color: white;
    align-self: center;
    
    font-size: clamp(2rem, 0.5rem + 2.5vw, 3.5rem);
    margin-top: 2rem;

}

/* контейнер с компасом */
.container_weather__add-info__compass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.3rem;
    background-color: $block-background-color-main;
    color: white;
    border-radius: $block-radius;
    flex: 45%;
    
}

/*компас название контейнера*/
.container__add-info__feels_like_title,.container_weather__add-info__compass_title {
    font-size: $block-body-fsize;
    color: white;
    
    align-self: flex-start;
    margin: 0.5rem ;
}

/* компоненты компаса */
.container_weather__add-info__compass_content {
    position: relative;
    width: clamp(100px, 10rem + 10vw, 150px);
    height: clamp(100px, 10rem + 10vw, 150px);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.5rem;
    
    
}

/* стрелка компаса */
.container_weather__add-info__compass_content_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 60px;
    background-color: white;
    transform-origin: bottom;
    transition: transform 0.5s;
}

/*наконечник стрелки компаса*/
.container_weather__add-info__compass_content_arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid white;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

/* контейнер с инфой скорость ветра */
.container_weather__add-info__compass_content_arrow_wind-speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $block-body-fsize;
    font-weight: 400;
    text-align: center;
    color: white;
}

/*дивайдеры-метки на компасе*/
.divider {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
}

/*компас метка север*/
.divider-north {
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

/*компас метка юг*/
.divider-south {
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

/*компас метки восток и запад*/
.divider-east,
.divider-west {
    top: 50%;
    transform: translateY(-50%);
}

/*компас метка восток*/
.divider-east {
    right: 10px;
    transform: translateY(-50%) rotate(-90deg);
}

/*компас метка запад*/
.divider-west {
    left: 10px;
    transform: translateY(-50%) rotate(90deg);
}

/*спаны в которые обернуты буквы сторон света*/
.divider span {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

/*буквы сторон восток и запад*/
.divider__text-east,
.divider__text-west {
    display: inline-block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    transform: rotate(90deg) scaleY(-1);
    position: relative;
    top: 0.1em;
}

/*буква W запад*/
.divider__text-west {
    left: -1.5em;
}

/*буква E восток*/
.divider__text-east {
    right: -0.1em;
}

/*контейнер ошибок */
#error-container
 {
    display: grid;
    grid-template-rows: 12fr;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(143, 92, 92, 0.438);
    color: rgb(238, 230, 219);
    border-radius: $block-radius;
    font-size:$block-body-fsize;
}

