/*--------- base -------*/
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 4.1vw;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

.main {
    @include center;
    flex-direction: column;
  
}
.title {
    @include typo-h;
}
/*
@media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 0.83vw;
    }
}
*/