.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 98vw;
  margin: 0 auto;
  justify-content: space-between;
  gap: clamp(20px, 0.1rem + 5vw, 150px);
  
}

.block-weather {
  display: flex;
  flex-direction: column;
  flex: 30%;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
 

}

.block-2-3 {
  display: flex;
  flex-direction: column;
  width: 45%;
  flex: 50%;
}





.motivation {
  display: flex;
  justify-content: space-between;
}