.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 98vw;
  margin: 0 auto;
  justify-content: space-between;
  gap: clamp(20px, 0.1rem + 5vw, 200px);
  
}

.block-weather {
  display: flex;
  flex-direction: column;
  flex: 40%;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;

}

.block-2-3 {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.block-clothes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block-clothes--header {
display: block;
}
.clothes-images {
  display: flex;
  justify-content: space-between;
}

.clothes-advice {
  display: flex;
}

.motivation {
  display: flex;
  justify-content: space-between;
}