html,
body {
  position: relative;
  /*height: 100%;*/
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
}

.swiper-pagination-bullet {
  --swiper-theme-color: hsl(340, 90%, 44%);
  border-radius: 0px;
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,30px));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);
}


.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 5);
}
