@charset "UTF-8";
/*------- colors  ------*/ /* ---- mixins -----*/ /*----- typo mixins -----*/ /*--------- base -------*/
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: black;
  background-color: black;
  height: 100vh;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: black;
  font-size: 3rem;
}

.subtitle-h3 {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: black;
  font-size: 1.5rem;
}

.subtitle-body {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: #aeafb8;
  font-size: 1.5rem;
}

/*@media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
    }
}*/
@media screen and (min-width: 1600px) {
  html {
    font-size: 0.83vw;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 98vw;
  margin: 0 auto;
  justify-content: space-between;
  gap: clamp(20px, 0.1rem + 5vw, 150px);
}

.block-weather {
  display: flex;
  flex-direction: column;
  flex: 30%;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}

.block-2-3 {
  display: flex;
  flex-direction: column;
  width: 45%;
  flex: 50%;
}

.motivation {
  display: flex;
  justify-content: space-between;
}

/*                                     */
/* ------- THE PROJECT BEGINNING  ---- */
/*                                     */
.container_weather__input {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*инпут введения города*/
#city {
  margin-top: 2rem;
  color: #333;
  background-color: rgba(238, 238, 238, 0.7568627451);
  width: 100%;
  max-height: 2.2rem;
  min-height: 2rem;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
}

#city:focus {
  border: none;
}

/*контейнер с основной инфой: город, температура, мин и макс температура*/
.container_weather__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(0.7rem, 0.2rem + 2.5vw, 1rem);
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  background-color: rgba(33, 31, 31, 0.4);
  color: #fff;
  border-radius: 20px;
  width: 100%;
  max-height: 55vh;
}

/*местоположение*/
#location {
  justify-self: center;
  font-size: clamp(16px, 0.2rem + 2.5vw, 24px);
}

/*температура*/
#temperature {
  font-size: clamp(16px, 0.2rem + 2.5vw, 24px);
  justify-self: center;
}

/*иконка в соотвествии с описанием погоды, приходит от api*/
#icon {
  width: clamp(3rem, 1.5rem + 10vw, 5rem);
  justify-self: center;
  margin: 0.3rem 0 0.3rem 0;
}

/*описание погодных условий*/
#description {
  font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
  margin-bottom: 1rem;
  text-align: center;
}

/*описание погодных условий первая буква*/
#description::first-letter {
  text-transform: uppercase;
}

/*контейнер для макс и мин температур*/
.container_weather__main-info_min-max {
  display: flex;
  gap: clamp(1rem, 0.5rem + 2.5vw, 3rem);
  font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
  text-align: center;
}

/*контейнер дополнительной информации*/
.container_weather__add-info {
  display: flex;
  flex: 100%;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  max-height: 35vh;
}

/*контейнер доп информации ощущается как*/
.container_weather__add-info__feels_like {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgba(33, 31, 31, 0.4);
  color: white;
  border-radius: 20px;
}

/*температура ощущается как*/
#temperature_feels_like {
  color: white;
  align-self: center;
  font-size: clamp(2rem, 0.5rem + 2.5vw, 3.5rem);
  margin-top: 2rem;
}

/* контейнер с компасом */
.container_weather__add-info__compass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  background-color: rgba(33, 31, 31, 0.4);
  color: white;
  border-radius: 20px;
}

/*компас название контейнера*/
.container__add-info__feels_like_title, .container_weather__add-info__compass_title {
  font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
  color: white;
  align-self: flex-start;
  margin: 0.5rem;
}

/* компоненты компаса */
.container_weather__add-info__compass_content {
  position: relative;
  width: clamp(100px, 10rem + 10vw, 150px);
  height: clamp(100px, 10rem + 10vw, 150px);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.5rem;
}

/* стрелка компаса */
.container_weather__add-info__compass_content_arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60px;
  background-color: white;
  transform-origin: bottom;
  transition: transform 0.5s;
}

/*наконечник стрелки компаса*/
.container_weather__add-info__compass_content_arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid white;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

/* контейнер с инфой скорость ветра */
.container_weather__add-info__compass_content_arrow_wind-speed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
  font-weight: 400;
  text-align: center;
  color: white;
}

/*дивайдеры-метки на компасе*/
.divider {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
}

/*компас метка север*/
.divider-north {
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

/*компас метка юг*/
.divider-south {
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}

/*компас метки восток и запад*/
.divider-east,
.divider-west {
  top: 50%;
  transform: translateY(-50%);
}

/*компас метка восток*/
.divider-east {
  right: 10px;
  transform: translateY(-50%) rotate(-90deg);
}

/*компас метка запад*/
.divider-west {
  left: 10px;
  transform: translateY(-50%) rotate(90deg);
}

/*спаны в которые обернуты буквы сторон света*/
.divider span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/*буквы сторон восток и запад*/
.divider__text-east,
.divider__text-west {
  display: inline-block;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform: rotate(90deg) scaleY(-1);
  position: relative;
  top: 0.1em;
}

/*буква W запад*/
.divider__text-west {
  left: -1.5em;
}

/*буква E восток*/
.divider__text-east {
  right: -0.1em;
}

/*контейнер ошибок */
#error-container {
  display: grid;
  grid-template-rows: 12fr;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(143, 92, 92, 0.438);
  color: rgb(238, 230, 219);
  border-radius: 20px;
  font-size: clamp(14px, 0.2rem + 2.5vw, 20px);
}

.block-clothes {
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-clothes-header {
  display: block;
}

.clothes-header-title {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(60, 59, 59);
  font-size: clamp(16px, 0.2rem + 2.5vw, 24px);
  text-align: center;
}

/* ВОзможно не актуальные стили */
/*
.clothes-images {
    display: flex;
    justify-content: space-between;
}

.clothes-advice {
    display: flex;
}
*/
/*
 width: clamp(150px, 1rem + 5vw, 300px);
    height: clamp(200px, 1rem + 5vw, 400px);
*/
/*-----   Swiper-desktop -----*/
.sw-1 {
  /*display:*/
  margin-top: 5px;
  display: block;
}

.swiper {
  width: 600px;
  height: 100%;
  margin-top: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
}

.swiper-pagination-bullet {
  --swiper-theme-color: hsl(340, 90%, 44%);
  border-radius: 0px;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.3);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 5);
}

/*-----   Swiper-mobile -----*/
.sw-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-mobile {
  margin-bottom: 20px;
}

.mySwiper-mobile {
  width: 300px;
  height: 360px;
}

.swiper-wrapper-mobile {
  display: flex;
  position: absolute;
  margin-bottom: 120%;
}

.swiper-slide-mobile {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #fff;
  justify-content: flex-start;
  align-items: center;
}

.swiper-slide-mobile > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

/* контейнер советов*/
.container_addInfo__advice {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin-top: 3rem;
  background-color: rgba(216, 207, 207, 0.672);
  color: #405fc3;
  border-radius: 20px;
  width: 70%;
  align-self: center;
  justify-self: center;
}

/*контейнер советов название*/
.container_addInfo__advice_title {
  display: flex;
  justify-self: flex-start;
  font-size: clamp(14px, 0.1rem + 2.5vw, 18px);
  font-weight: 700;
  text-align: center;
}

/*контейнер советов контент*/
.container_addInfo__advice_content {
  font-style: italic;
  font-size: clamp(12px, 0.1rem + 2.5vw, 16px);
  margin-top: 5px;
}

.button {
  width: 130px;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(133, 127, 127, 0.4);
  color: #fff;
  padding: 3px;
}

.imIce {
  background-color: rgba(56, 66, 117, 0.4);
}

.imHot {
  background-color: rgba(127, 92, 46, 0.4);
}

/*                                     */
/* ------- THE TEST ZONE ---- */
/*  @import 'blocks/swiper-mobile';                                   *//*# sourceMappingURL=style.css.map */