@import 'base/colors';
@import 'base/mixins';
@import 'base/typo-mixins';
@import 'base/base';
@import 'base/position';


/*                                     */
/* ------- THE PROJECT BEGINNING  ---- */
/*             Блок Погода             */

/*инпут для введения города*/
#city {
    border-radius: 5px;
    border: none;
    background-color: $color-lightGrey;
}

/*контейнер с основной инфой: город, температура, мин и макс температура*/
.container_weather__main-info {
    border-radius: 5px;
    background-color: $color-lightGrey;
}

/*температура*/
#temperature {
    font-size: 42px;
}

/*описание погодных условий*/
#description {
    font-size: 38px;
}

/*описание погодных условий первая буква*/
#description::first-letter {
    text-transform: uppercase;
}

/*контейнер для макс и мин температур*/
.container_weather__main-info_min-max {
    font-size: 32px;
}

/*контейнер дополнительной информации*/
.container_weather__add-info {
    background-color: $color-lightGrey;
    border-radius: 5px;
}

/*контейнер доп информации ощущается как*/
.container_weather__add-info__feels_like {
    color: $color-black;
    font-size: 32px;
    border-radius: 5px;
}

/*температура ощущается как*/
#temperature_feels_like {
    color: $color-black;
    font-size: 42px;
}

/* контейнер с компасом */
.container_weather__add-info__compass {
    color: $color-black;
    border-radius: 5px;
}

/*компас название контейнера*/
.container_weather__add-info__compass_title {
    font-size: 32px;
    color: $color-black;
}

/* компоненты компаса */
.container_weather__add-info__compass_content {
    border: 1px solid $color-black;
    color: $color-black;
    background-color: $color-lightGrey;
}

/* стрелка компаса */
.container_weather__add-info__compass_content_arrow {
    background-color: black;
    transform-origin: bottom;
    transition: transform 0.5s;
}